form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  .MyInput {
    margin-top: 10px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: fit-content;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  