@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
input{
    flex: 9;
	height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
    margin-left: 20px;
    margin-top: 5px;
}
  
  .search {
    position: absolute;
    left: 18%;
    top: 45%;
  }
  
  .box {
    display: flex;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 8px 24px -4px rgba(255, 255, 255, 0.15),
      0px 6px 12px -6px rgba(255, 255, 255, 0.25);
    width: 1206px;
    height: 50px;
  }
  
  .my_button {
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0px;
    border-radius: 50px;
    background: var(--gradient-purple-gradient-12, linear-gradient(90deg, #DA22FF 0%, #9733EE 100%));
    box-shadow: 0px 8px 24px -4px rgba(255, 255, 255, 0.15), 0px 6px 12px -6px rgba(255, 255, 255, 0.25);
    color: var(--cold-grey-white, #FFF);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  

   